.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    min-height: 300px;
}

.loading-text {
    color: var(--color-text-primary);
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 500;
}

.loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 600px;
    height: 250px;
    overflow: hidden;
    border-bottom: 3px solid var(--color-primary);
    color: var(--color-text-primary);
}

.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow:
            0 0 0 50px var(--color-primary),
            60px 50px 0 70px var(--color-primary),
            90px 90px 0 50px var(--color-primary),
            250px 250px 0 50px var(--color-primary),
            290px 320px 0 50px var(--color-primary),
            320px 400px 0 50px var(--color-primary);
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
    opacity: 0.6;
}

.hill {
    position: absolute;
    right: -900px;
    bottom: -50px;
    width: 400px;
    border-radius: 50%;
    height: 20px;
    box-shadow:
            0 0 0 50px var(--color-primary),
            -20px 0 0 20px var(--color-primary),
            -90px 0 0 50px var(--color-primary),
            250px 0 0 50px var(--color-primary),
            290px 0 0 50px var(--color-primary),
            620px 0 0 50px var(--color-primary);
    animation: hill 4s 2s linear infinite;
    opacity: 0.7;
}

.tree, .tree:nth-child(2), .tree:nth-child(3) {
    position: absolute;
    height: 100px;
    width: 35px;
    bottom: 0;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
    filter: brightness(0) saturate(100%) invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.rock {
    margin-top: -17%;
    height: 2%;
    width: 2%;
    bottom: -2px;
    border-radius: 20px;
    position: absolute;
    background: var(--color-text-secondary);
}

.truck, .wheels {
    transition: all ease;
    width: 85px;
    margin-right: -60px;
    bottom: 0px;
    right: 50%;
    position: absolute;
}

.truck {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/truck.svg) no-repeat;
    background-size: contain;
    height: 60px;
    filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.truck:before {
    content: " ";
    position: absolute;
    width: 25px;
    box-shadow:
            -30px 28px 0 1.5px var(--color-surface),
            -35px 18px 0 1.5px var(--color-surface);
}

.wheels {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
    height: 15px;
    margin-bottom: 0;
}

.tree { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2) { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3) { animation: tree3 8s 0.050s linear infinite; }
.rock { animation: rock 4s -0.530s linear infinite; }
.truck { animation: truck 4s 0.080s ease infinite; }
.wheels { animation: truck 4s 0.001s ease infinite; }
.truck:before { animation: wind 1.5s 0.000s ease infinite; }

@keyframes tree {
    0% { transform: translate(1350px); }
    100% { transform: translate(-50px); }
}

@keyframes tree2 {
    0% { transform: translate(650px); }
    100% { transform: translate(-50px); }
}

@keyframes tree3 {
    0% { transform: translate(2750px); }
    100% { transform: translate(-50px); }
}

@keyframes rock {
    0% { right: -200px; }
    100% { right: 2000px; }
}

@keyframes truck {
    0%, 100% { }
    6% { transform: translateY(0px); }
    7% { transform: translateY(-6px); }
    9% { transform: translateY(0px); }
    10% { transform: translateY(-1px); }
    11% { transform: translateY(0px); }
}

@keyframes wind {
    0%, 100% { }
    50% { transform: translateY(3px); }
}

@keyframes mtn {
    100% {
        transform: translateX(-2000px) rotate(130deg);
    }
}

@keyframes hill {
    100% {
        transform: translateX(-2000px);
    }
}

/* Mobile responsive */
@media (max-width: 900px) {
    .loop-wrapper {
        width: 100%;
        max-width: 400px;
        height: 180px;
    }

    .truck, .wheels {
        transform: scale(0.8);
    }
}
