
input[type="email"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    box-shadow: none;
}
